@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@200&family=Roboto:wght@300&display=swap");
body {
  background-image: url("./images/background.jpg");
  background-size: cover;
  font-family: "Alfa Slab One", cursive;
}

.container {
  display: flex;
}

#myCanvas {
  margin-left: 150px;
}

.keys {
  font-family: "Roboto", sans-serif;
  padding: 4% 5% 5% 5%;
  height: 150px;
  width: 150px;
  background-color: rgba(129, 122, 123, 0.274);
  margin: auto;
  border: 5px solid;
}
